
.navbar_container{
    display: flex;
    justify-content: space-between;
    border-color: var(--indigo-dye);
    border-style: outset;
    text-align: center;
    background-color: var(--avocado);
    align-items: center;
    font-size: 25px;
};
    


