.App {
          /* CSS HEX */
        --avocado: #648703ff;
        --burnt-orange: #ba5000ff;
        --blood-red: #630e00ff;
        --citrine: #dcc610ff;
        --indigo-dye: #283f59ff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  gap: 5px; 
}

.weatherPage{
  grid-column: 1 / 4;
}
